In [1]:
import pandas as pd

In [3]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.columns   # this shows only the column names

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [9]:
# 1st METHOD for renaming

ufo.rename(columns = {'Colors Reported': 'Colors_Reported', 'Shape Reported': 'Shape_Reported'}, inplace = True)

In [10]:
ufo.columns

Index(['City', 'Colors_Reported', 'Shape_Reported', 'State', 'Time'], dtype='object')

In [11]:
# 2nd METHOD for renaming

ufo_cols = ['city', 'colors reported', 'shape reported', 'state', 'time']

In [13]:
ufo.columns = ufo_cols

In [14]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
# 3rd METHOD for renaming while reading the table

ufo = pd.read_csv('http://bit.ly/uforeports', names = ufo_cols, header=0)  # header = 0 , specifies the index of the names row